<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="putInMapper">
<!-- 알바 구인 게시물 작성 -->
<insert id="insert" parameterType="PutInVO">
INSERT INTO PUTIN_JOB
(ID, P_BNO, P_NAME, P_GENDER, P_AGE, P_TEL, P_COMPANY1, P_START1, P_END1, 
	P_COMPANY2, P_START2, P_END2, P_COMPANY3, P_START3, P_END3, 
	J_BNO)
VALUES(#{id}, PUTIN_JOB_SEQ.NEXTVAL, #{p_name}, #{p_gender}, #{p_age}, #{p_tel}, 
	#{p_company1}, #{p_start1}, #{p_end1}, #{p_company2}, #{p_start2}, #{p_end2}, #{p_company3}, #{p_start3}, #{p_end3}, 
	#{j_bno})
</insert>

<select id="listPage" resultType="PutInVO" parameterType="java.util.Map">
SELECT J_BNO, P_BNO, P_NAME, P_GENDER, P_TEL, P_AGE, 
	P_COMPANY1, P_START1, P_END1, P_COMPANY2, P_START2, P_END2, P_COMPANY3, P_START3, P_END3
FROM(SELECT J_BNO, P_BNO, P_NAME, P_GENDER, P_TEL, P_AGE, P_COMPANY1, P_START1, P_END1,
	P_COMPANY2, P_START2, P_END2, P_COMPANY3, P_START3, P_END3,
    ROW_NUMBER() OVER(ORDER BY P_BNO ASC) AS RNUM
    FROM PUTIN_JOB) JOB
WHERE (RNUM BETWEEN #{rowStart} AND #{rowEnd}) AND (J_BNO = #{j_bno})
ORDER BY P_BNO ASC
</select>

<select id="listCount" resultType="int">
SELECT COUNT(P_BNO) FROM PUTIN_JOB
</select>

<select id="j_title" parameterType="int" resultType="String">
SELECT J_TITLE FROM JOB_BOARD WHERE J_BNO = #{j_bno}
</select>

</mapper>