@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


.sidemenu3 {
  float: left;
  width: 180px;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: right;
  border-right: solid 1px #e9e9e9;
  /*쪽지 이미지보이는 부분*/
}

.minicon3 {
  float: left;
  width: 780px;
  height: auto;
  padding: 0px 0 15px 0;
  box-sizing: border-box;
  border-left: 1px solid #e5e5e5;
}

.j_btn1 {
  all: unset;
  width: 180px;
  height: 40px;
  border-radius: 8px 8px;
  background-color: #0C6BBC;
  color: #fff;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: auto;
}


.chk input[type='radio'] {
   display:none;
}
.chk input[type='radio']+span {
   display:inline-block;
   padding:5px 10px;
   border:1px solid #c9cdd2;
   border-radius:5px;
   background-color:white;
   text-align:center;
   cursor:pointer;
   margin-left: 5px;
}
.chk input[type='radio']:checked+span {
   background-color:skyblue;
   color:white;
   border-radius:5px;
   border: skyblue;
}

.chk input[type='checkbox'] {
   display:none;
}
.chk input[type='checkbox']+span {
   display:inline-block;
   padding:5px 10px;
   border:1px solid #c9cdd2;
   border-radius:5px;
   background-color:white;
   text-align:center;
   cursor:pointer;
   margin-left: 5px;
}
.chk input[type='checkbox']:checked+span {
   background-color:skyblue;
   color:white;
   border-radius:5px;
   border-color: skyblue;
}


/*job_read.jsp*/
  .rach input[type='checkbox'] {
    display: none;
}

.rach input[type='checkbox']+span {
	display: inline-block;
	padding: 5px 5px;
	border: 1px solid #AEB6BF;
	border-radius: 10px;
	background-color: #F7ECEC;
	text-align: center;
	cursor: pointer;
	color: #E55555;
}

.rach input[type='checkbox']:checked+span {
	background-color: #FD7D7D;
	color: white;
	border-radius: 10px;
}

/*resume_insert.jsp*/
.j_btn2 { /*회색 버튼*/
  all: unset;
  width: 100px;
  height: 35px;
  border-radius: 5px 5px;
  color: black;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ced4da;
  background-color: #ced4da;
  display: block;
  margin: auto;
}


.j_btn3 { /*하얀 버튼*/
  all: unset;
  width: 45px;
  height: 30px;
  border-radius: 2px 2px;
  color: black;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid gray;
}