<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminBannerMapper">

<insert id="fileSave" parameterType="String">
insert into a_banner(a_no, a_file)
values(banner_seq.nextval, #{filePath})
</insert>

<select id="imgPath" parameterType="int" resultType="String">
SELECT A_FILE FROM A_BANNER WHERE A_NO = #{a_no}
</select>

<!-- 게시글 삭제 -->
<delete id="delete" parameterType="int">
DELETE FROM A_BANNER WHERE A_NO = #{a_no}
</delete>

</mapper>