<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

<!-- 게시판 글 작성 -->
<insert id="insert">
INSERT INTO A_BOARD(A_BNO, A_TITLE, A_CONTENT, A_TYPE, ID, LOCA, NICK)
VALUES(A_BOARD_SEQ.NEXTVAL, #{a_title}, #{a_content}, #{a_type}, #{id}, #{loca}, #{nick})
</insert>

<select id="list" parameterType="com.anabada.web.vo.ASearchCriteria" resultType="boardVO">
SELECT A_BNO, A_TITLE, A_REGDATE, A_CNT, A_TYPE, ID, LOCA, NICK
FROM (
	SELECT A_BNO, A_TITLE, A_REGDATE, A_CNT, A_TYPE, ID, LOCA, NICK, ROW_NUMBER()
	OVER(ORDER BY A_BNO DESC) AS RNUM
	FROM A_BOARD WHERE 1 = 1
	<include refid="search"></include>
	<include refid="category"></include>
	<include refid="location"></include>
) A_BOARD
WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
ORDER BY A_BNO DESC
</select>

<select id="listCount" parameterType="com.anabada.web.vo.ASearchCriteria" resultType="int">
SELECT COUNT(A_BNO) FROM A_BOARD WHERE 1 = 1
<include refid="search"></include>
AND A_BNO > 0
</select>

<sql id="search">
	<if test="searchType != null">
		<if test="searchType == 't'.toString()">AND A_TITLE LIKE '%' || #{keyword} || '%'</if>
		<if test="searchType == 'c'.toString()">AND A_CONTENT LIKE '%' || #{keyword} || '%'</if>
		<if test="searchType == 'w'.toString()">AND ID LIKE '%' || #{keyword} || '%'</if>
		<if test="searchType == 'tc'.toString()">AND (A_TITLE LIKE '%' || #{keyword} || '%') OR (A_CONTENT LIKE '%' || #{keyword} || '%')</if>
	</if>
</sql>

<sql id="category">
	<if test="cateType != null">
		<if test="cateType == 1">AND A_TYPE = 1</if>
		<if test="cateType == 2">AND A_TYPE = 2</if>
		<if test="cateType == 3">AND A_TYPE = 3</if>
	</if>
</sql>

<sql id="location">
	<if test="locaType != null">
		<if test="locaType == 1">AND LOCA = 1</if>
		<if test="locaType == 2">AND LOCA = 2</if>
		<if test="locaType == 3">AND LOCA = 3</if>
		<if test="locaType == 4">AND LOCA = 4</if>
		<if test="locaType == 5">AND LOCA = 5</if>
		<if test="locaType == 6">AND LOCA = 6</if>
		<if test="locaType == 7">AND LOCA = 7</if>
		<if test="locaType == 8">AND LOCA = 8</if>
		<if test="locaType == 9">AND LOCA = 9</if>
		<if test="locaType == 10">AND LOCA = 10</if>
		<if test="locaType == 11">AND LOCA = 11</if>
		<if test="locaType == 12">AND LOCA = 12</if>
	</if>
</sql>  

<update id="cnt" parameterType="int">
	UPDATE A_BOARD SET 
	A_CNT = A_CNT + 1
	WHERE A_BNO = #{a_bno}
</update>

<select id="read" parameterType="int" resultType="boardVO">
	SELECT A_BNO, A_TITLE, A_CONTENT, ID, NICK, A_LIKE_CNT
	FROM A_BOARD
	WHERE A_BNO = #{a_bno}
</select>

<update id="update" parameterType="boardVO">
UPDATE A_BOARD
SET LOCA = #{loca}, A_TYPE = #{a_type}, A_TITLE = #{a_title}, A_CONTENT = #{a_content}  
WHERE A_BNO = #{a_bno}
</update> 

<delete id="delete" parameterType="int">
DELETE FROM A_BOARD WHERE A_BNO = #{a_bno} 
</delete>  

<select id="writeList" parameterType="com.anabada.web.vo.ASearchCriteria" resultType="boardVO">
SELECT A_BNO, A_TITLE, A_REGDATE, A_CNT, A_TYPE, NICK, LOCA
FROM(
	SELECT A_BNO, A_TITLE, A_REGDATE, A_CNT, A_TYPE, NICK, LOCA,
	ROW_NUMBER() OVER(ORDER BY A_BNO DESC) AS RNUM 
	FROM A_BOARD WHERE ID = #{id}
) A_BOARD
WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
ORDER BY A_BNO DESC
</select>

<select id="writeListCount" parameterType="com.anabada.web.vo.ASearchCriteria" resultType="int">
SELECT COUNT(A_BNO) FROM A_BOARD WHERE ID = #{id} AND A_BNO > 0
</select> 
	
<insert id="reportComplaint" parameterType="ComplaintVO">
INSERT INTO COMPLAINT (COM_NUM, ID, C_CONTENT, C_BNO, BOARD_TYPE)
VALUES (COMPLAINT_SEQ.NEXTVAL, #{id}, #{c_content}, #{c_bno}, #{board_type})
</insert>

<select id="complaintRead" parameterType="int" resultType="boardVO">
SELECT A_BNO, A_TITLE, A_CONTENT, ID, NICK
FROM A_BOARD
WHERE A_BNO = #{a_bno}
</select>

<delete id="complaintDelete" parameterType="java.util.hashMap">
DELETE FROM COMPLAINT WHERE BOARD_TYPE = #{a_board} AND C_BNO = #{c_bno}
</delete>

</mapper>