<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="HeartMapper">
<!-- 하트정보 입력 -->
<insert id="addHeart"  parameterType="hashMap" >
INSERT INTO HEART (ID,PNO) VALUES (#{id},#{pno})
</insert>
<!-- 해당게시글에 하트를 눌렀는지 확인 -->
<select id="heartCheck" parameterType="hashMap"  resultType="int" >
SELECT COUNT(HNO) FROM HEART WHERE PNO =#{pno} AND ID =#{id}
</select>
<!-- 하트 해제시 하트 누른 정보 삭제  -->
<delete id="subHeart" parameterType="hashMap" >
DELETE FROM HEART WHERE PNO = #{pno} AND ID = #{id}
</delete>

<!-- ID에 해당하는 사람의 하트 목록 불러오기 -->
<select id="myHeartList"  parameterType="com.anabada.web.vo.StoreCriteria"  resultType="HeartVO" >
SELECT PNO FROM (SELECT pno, ROW_NUMBER() OVER(ORDER BY PNO DESC) RNUM FROM HEART WHERE ID=#{id} ) h 
WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}   ORDER BY pno DESC
</select>


<!-- ID에 해당하는 사람의 총 Heart 갯수 리턴 -->
<select id="totalHeart" parameterType="com.anabada.web.vo.StoreCriteria"  resultType="int" >
SELECT COUNT(PNO) FROM HEART WHERE ID=#{id}
</select>

</mapper>


