<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kakaoMapper">
<!-- 카카오 로그인 정보 찾기 -->
<select id="findkakao" parameterType="java.util.HashMap" resultType="memberVO">
	SELECT * FROM a_member
	WHERE name = #{name} and email = #{email}
</select>
   
<!-- 정보 저장, 닉네임 랜덤한 문자열 6자리 생성해서 저장 -->
<insert id="kakaoinsert" parameterType="java.util.HashMap">
	<selectKey resultType="String" keyProperty="nick" order="BEFORE">
		SELECT DBMS_RANDOM.STRING('X', 6) FROM dual
	</selectKey>
	INSERT INTO a_member (id, pass, name, nick, tel, email)
	VALUES (#{id}, 12345, #{name}, #{nick} , 01012345678, #{email})
</insert>
</mapper>