<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<!-- 회원가입 -->
	<insert id="register">
		INSERT INTO a_member (id, pass, name, nick, tel, email)
				VALUES (#{id}, #{pass}, #{name}, #{nick}, #{tel}, #{email})
	</insert>
	
	<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*)
		FROM a_member
		WHERE id = #{id}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="nickChk" resultType="int">
		SELECT COUNT(*)
		FROM a_member
		WHERE nick = #{nick}
	</select>
	
	<!-- 닉네임 업데이트 중복 체크 -->
	<select id="nickUpdateChk" resultType="int">
		SELECT COUNT(1)
		FROM a_member
		WHERE nick = #{nick} and id != #{id}
	</select>
	
	<!-- 회원 정보 관리 -->
	<select id="memberList" resultType="memberVO">
		SELECT *
		FROM a_member
		
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="memberVO">
		SELECT *
		FROM a_member
		WHERE id = #{id}
		AND pass = #{pass}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="memberFindId" resultType="memberVO">
		SELECT *
		FROM a_member
		WHERE name = #{name}
		AND email = #{email}
	</select>
	
	<!-- 비밀번호 찾기 체크 -->
	<select id="memberPwdCheck" resultType="int">
		SELECT COUNT(*)
		FROM a_member
		WHERE id = #{id}
		AND email = #{email}
	</select>
	
	<!-- 비밀번호 찾기 업데이트 -->
	<update id="findPwdUpdate">
		UPDATE a_member
		SET pass = #{pass}
		WHERE id = #{id}
		AND email = #{email}
	</update>
	
	<!-- 회원 정보 수정 -->
	<update id="memberUpdate">
		UPDATE a_member
		SET id = #{id},
			name = #{name},
			nick = #{nick},
			tel = #{tel},
			email = #{email}
		WHERE id = #{id}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="passUpdate">
		UPDATE a_member
		SET pass = #{pass}
		WHERE id = #{id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="memberDelete">
		DELETE FROM a_member
		WHERE id = #{id}
		AND pass = #{pass}
	</delete>
</mapper>