<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noteMapper">
<insert id="insert" parameterType="NoteVO">
INSERT INTO NOTE (BNO, S_ID, R_ID, CONTENT, S_TIME, READ_CHK, R_DELETE_CHK, S_DELETE_CHK)
VALUES(NOTE_SEQ.NEXTVAL, #{s_id}, #{r_id}, #{content}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MM:SS'), 1, 1, 1)
</insert>

<select id="listPage" resultType="NoteVO" parameterType="java.util.Map">
SELECT BNO, S_ID, R_ID, CONTENT, S_TIME, READ_CHK, R_DELETE_CHK, S_DELETE_CHK 
FROM(SELECT BNO, S_ID, R_ID, CONTENT, S_TIME, READ_CHK, R_DELETE_CHK, S_DELETE_CHK,
	ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM  
	FROM NOTE WHERE 1 = 1
<include refid="who"></include>
	) NOTE
WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
ORDER BY BNO DESC
</select>

<select id="listCount" parameterType="java.util.Map" resultType="int">
SELECT COUNT(BNO) FROM NOTE WHERE 1=1
<include refid="who"></include>
AND BNO > 0
</select>

<sql id="who">
	<if test="who == 'receive'.toString()">AND R_ID = #{id}</if>
	<if test="who == 'send'.toString()">AND S_ID = #{id}</if>
</sql>


<select id="read" parameterType="int" resultType="NoteVO">
SELECT BNO, R_ID, S_ID, CONTENT, S_TIME, READ_CHK, S_DELETE_CHK, R_DELETE_CHK
FROM NOTE WHERE BNO = #{bno}
</select>

<select id="read_check" parameterType="java.util.Map">
UPDATE NOTE SET READ_CHK = 0
WHERE BNO = #{bno} AND R_ID = #{id}
</select>

<select id="no_readCount" parameterType="String" resultType="int">
SELECT COUNT(BNO) FROM NOTE 
WHERE R_ID = #{id} AND READ_CHK = 1
</select>

<update id="delete_send" parameterType="java.util.ArrayList">
UPDATE NOTE SET S_DELETE_CHK = 0
WHERE BNO IN(
	<foreach collection="array" item="item" index="index" separator=",">
       #{item}
    </foreach>
)
</update>

<update id="delete_receive" parameterType="java.util.ArrayList">
UPDATE NOTE SET R_DELETE_CHK = 0
WHERE BNO IN(
	<foreach collection="array" item="item" index="index" separator=",">
       #{item}
    </foreach>
)
</update>


<delete id="delete_all" parameterType="java.util.ArrayList">
DELETE FROM NOTE WHERE R_DELETE_CHK = 0 AND R_DELETE_CHK = 0
AND BNO IN(
	<foreach collection="array" item="item" index="index" separator=",">
       #{item}
    </foreach>
)
</delete>


<update id="delete_send2" parameterType="int">
UPDATE NOTE SET S_DELETE_CHK = 0
WHERE BNO = #{bno}
</update>

<update id="delete_receive2" parameterType="int">
UPDATE NOTE SET R_DELETE_CHK = 0
WHERE BNO = #{bno}
</update>

<delete id="delete_detail" parameterType="int">
DELETE FROM NOTE WHERE S_DELETE_CHK = 0 AND R_DELETE_CHK = 0
AND BNO = #{bno}
</delete>

</mapper>