@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}



/* 전체 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto 0 auto;
}



/* 여백 */
.mt-22 {
  margin: 22px 0 0 0;
  padding: 0;
}


/* 게시판 하단 메뉴 */
.fsize-13 {
  margin: 10px 5px;
  text-align: right;
  font-size: 13px;
  color: #555555;
}

.btfsize-13 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  margin: 10px 5px 10px auto;
  display: block;
  font-size: 13px;
  color: #555555;
  cursor: pointer;
}


/* 네비게이션 */
.navbar {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: top;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.nav-right {
  display: flex;
  justify-content: flex-end
}

.profile {
  color: #555555;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pro-li {
  display: inline;
  padding: 8px;
  cursor: pointer;
}

.navbar-border {
  border-bottom: 1px solid #f1f2f5;
}



/* 헤더 */
.header {
  display: flex;
  margin: 35px 0 20px 0;
}

.logo-header {
  width: 350px;
  justify-content: center;
  text-align: center;
}

.logo-miniheader {
  width: 280px;
  justify-content: center;
  text-align: center;
}


/* 검색 */
.sbox {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  width: 350px;
  height: 40px;
  border: 3px solid #0C6BBC;
}

.search-in {
  width: 90%;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  border:0 solid black;
  outline: none;
  font-size: 14px;
}

.search-but {
  width: 45px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background: #0C6BBC;
}

.cate {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  font-size: 14px;
  list-style-type: none;
  box-sizing: border-box;
}

.cate-ul {
  color: #444444;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cate-li {
  display: inline;
  padding: 8px;
  cursor: pointer;
}



/* 본문 페이지 기본 설정 */
.mcont {
  margin: 0 auto;
  padding: 15px 20px 50px 20px;
  box-sizing: border-box;
}



/* 사이드 메뉴 페이지 */
.sidemenu {
  float: left;
  width: 180px;
  height: 500px;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: right;
}

.sidemenu2 {
  float: left;
  width: 180px;
  height: 500px;
  padding: 0 40px 0 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: right;
}

.hello {
  font-size: 26px;
  font-style: italic;
}

.stitle {
  font-size: 26px;
  font-weight: 500;
  padding: 5px 0 10px 10px;
  border-bottom: 1px solid #6D6D6D;
}

.side-ul {
  color: #444444;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-li {
  font-size: 13px;
  cursor: pointer;
  margin: 3px 0;
}

.side-t {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 500;
  cursor: default;
}

.minicon {
  float: right;
  width: 780px;
  padding: 0px 0 15px 0;
  box-sizing: border-box;
}



/* 회원가입 */
.regicon {
  width: 100%;
  min-width: 500px;
  max-width: 500px;
  margin: 0 auto 0 auto;
}

.regcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.reg-logo {
  text-align: center;
  padding: 60px 0 20px 0;
  box-sizing: border-box;
}

.reg-box {
  display: flex;
  width: 400px;
  height: 40px;
  border: 1px solid #D5D5D5;
  margin: 5px 0 0 0; 
}

.reg-in {
  width: 400px;
  height: 38px;
  padding-left: 12px;
  padding-right: 12px;
  border:0 solid black;
  outline: none;
  font-size: 14px;
}

.reg-font {
  color: #555555;
  font-size: 14px;
}

.reg-but {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60px;
  margin: 40px auto 40px auto;
  padding: 0;
  border: none;
  background: #0C6BBC;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.reg-corp {
  text-align : center;
  font-size: 9px;
  margin: 0 auto 20px auto;
}

.reg-select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width: 400px;
  height: 40px;
  border: 1px solid #D5D5D5;
  margin: 5px 0;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  cursor: pointer;
}



/* 고객센터(자주 묻는 질문) */
.helpu {
  text-align: center;
  margin-top: 0;
  padding: 20px 20px;
  border-radius: 15px 15px;
  box-sizing: border-box;
}

.mayi {
  font-size: 24px;
  color: #383838;
  margin: 0 auto 20px 5px;
  padding: 0;
}

.fnq-box {
  display: flex;
  margin: 0 auto;
  width: 350px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 10px 10px;
}

.fnq-in {
  width: 100%;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  border:0 solid black;
  outline: none;
  font-size: 13px;
  border-radius: 10px 10px;
}

.fnq-but {
  width: 80px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background: #989898;
  color: #fff;
  font-size: 13px;
  border-radius: 0 8px 8px 0;
}

.fnq {
  margin: 40px auto 18px 5px;
  font-size: 18px;
  font-weight: 500;
}

.que:first-child {
  border-top: 1px solid #9f9f9f;
}
  
.que {
  position: relative;
  padding: 25px 0 25px 15px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  
}
  
.que::before {
  display: inline-block;
  font-size: 13px;
  content: 'Q';
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #0c6bbc;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
}

.que.on>span {
  font-weight: bold;
  color: #006633; 
}
  
.anw {
  display: none;
  padding: 28px 38px 28px 40px;
  overflow: hidden;
  font-size: 14px;
  background-color: #f9f9f9;
  text-align: justify;
  line-height: 1.6;
}
  
/* .anw::before { */
/*   display: inline-block; */
/*   content: ""; */
/*   left: 24px; */
/*   top: 28px; */
/*   width: 8px; */
/*   height: 9px; */
/*   background: url("../images/arw_reply.png") 0% 0% no-repeat; */
/*   background-size: 8px 9px; */
/* } */

.arrow-wrap {
  position: absolute;
  top:50%; right: 10px;
  transform: translate(0, -50%);
}

.que .arrow-top {
  display: none;
}

.que .arrow-bottom {
  display: block;
}

.que.on .arrow-bottom {
  display: none;
}

.que.on .arrow-top {
  display: block; 
}

.cktitle {
  width: 762px;
  height: 50px;
  margin: 13px auto;
  padding: 15px;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
}



/* 고객센터 (1:1 문의) */
.ask {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
}

.asktitle {
  width: 650px;
  height: 45px;
  margin: 13px auto;
  padding: 15px;
  border: 1px solid #E0E0E0;
  border-radius: 5px 5px;
  box-sizing: border-box;
}

.askmid {
  float: left;
  display: inline-block;
  width: 100px;
  line-height: 350px;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
}

.askcon {
  float: right;
  width: 650px;
  height: 350px;
  padding: 15px;
  border: 1px solid #E0E0E0;
  border-radius: 5px 5px;
  resize: none;
  box-sizing: border-box;
}

.ask_btn {
  all: unset;
  width: 200px;
  height: 50px;
  border-radius: 8px 8px;
  background-color: #0C6BBC;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}



/* 푸터 */
.foot {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  vertical-align: bottom;
}

.foot-border {
  border-top: 1px solid #f1f2f5;
}

.anabada {
  color: #555555;
  font-size: 12px;
  line-height: 1.8;
  list-style-type: none;
  margin: 0;
  padding: 15px 20px;
  box-sizing: border-box;
}