<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jobMapper">
<!-- 알바 구인 게시물 작성 -->
<insert id="insert" parameterType="JobVO">
INSERT INTO JOB_BOARD
(ID, J_BNO, J_TITLE, J_COMPANY, J_ADDR1, J_ADDR2, J_CATE, J_METHOD, J_PAY,
J_TERM, J_DAY, J_START, J_END, J_CONTENT, J_IMG, J_HEART)
VALUES(#{id}, JOB_BOARD_SEQ.NEXTVAL, #{j_title}, #{j_company}, #{j_addr1}, #{j_addr2}, #{j_cate}, #{j_method}, #{j_pay},
#{j_term}, #{j_day}, #{j_start}, #{j_end}, #{j_content}, #{j_img}, #{j_heart})
</insert>

<select id="listPage" resultType="JobVO" parameterType="com.anabada.web.vo.JobSearchCriteria">
SELECT J_BNO, J_TITLE, J_COMPANY, J_ADDR1, J_CATE, J_METHOD, J_PAY, J_TERM, J_DAY, J_START, J_END, J_HEART, J_IMG
FROM(SELECT J_BNO, J_TITLE, J_COMPANY, J_ADDR1, J_CATE, J_METHOD, J_PAY, J_TERM, J_DAY, J_START, J_END, J_HEART, J_IMG,
	ROW_NUMBER() OVER(ORDER BY J_BNO DESC) AS RNUM
	FROM JOB_BOARD WHERE 1 = 1
<include refid="addr1"></include>
<include refid="term"></include>
<include refid="cate"></include>
<include refid="day"></include>
	) JOB
WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
ORDER BY J_BNO DESC
</select>

<select id="listCount" parameterType="com.anabada.web.vo.JobSearchCriteria" resultType="int">
SELECT COUNT(J_BNO) FROM JOB_BOARD WHERE 1= 1
<include refid="addr1"></include>
<include refid="term"></include>
<include refid="cate"></include>
<include refid="day"></include>
AND J_BNO > 0
</select>


<sql id="addr1">
	<if test="j_addr1 != null">
		<if test="j_addr1 == '서울'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '부산'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '대구'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '인천'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '광주'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '대전'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '울산'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '세종'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '경기'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '강원'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '충북'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '충남'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '전북'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '전남'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '경북'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '경남'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
		<if test="j_addr1 == '제주'.toString()">AND J_ADDR1 LIKE #{j_addr1} || '%'</if>
	</if>
</sql>
<sql id="term">
	<if test="j_term != null">
		<if test="j_term == '하루'.toString()">AND J_TERM = #{j_term}</if>
		<if test="j_term == '3개월이하'.toString()">AND J_TERM = #{j_term}</if>
		<if test="j_term == '3~6개월'.toString()">AND J_TERM = #{j_term}</if>
		<if test="j_term == '6개월~1년'.toString()">AND J_TERM = #{j_term}</if>
		<if test="j_term == '1년이상'.toString()">AND J_TERM = #{j_term}</if>
	</if>
</sql>
<sql id="cate">
	<if test="j_cate != null">
		<if test="j_cate == '서빙'.toString()">AND J_CATE LIKE '%' || #{j_cate} || '%'</if>
		<if test="j_cate == '매장관리/판매'.toString()">AND J_CATE LIKE '%' || #{j_cate} || '%'</if>
		<if test="j_cate == '주방보조'.toString()">AND J_CATE LIKE '%' || #{j_cate} || '%'</if>
		<if test="j_cate == '사무보조'.toString()">AND J_CATE LIKE '%' || #{j_cate} || '%'</if>
		<if test="j_cate == '음료제조'.toString()">AND J_CATE LIKE '%' || #{j_cate} || '%'</if>
		<if test="j_cate == '배달'.toString()">AND J_CATE LIKE '%' || #{j_cate} || '%'</if>
		<if test="j_cate == '기타'.toString()">AND J_CATE LIKE '%' || #{j_cate} || '%'</if>
	</if>
</sql>
<sql id="day">	
	<if test="j_day != null">
		<if test="j_day == '주1'.toString()">AND REGEXP_COUNT(J_DAY, ',') = 0</if>
		<if test="j_day == '주2'.toString()">AND REGEXP_COUNT(J_DAY, ',') = 1</if>
		<if test="j_day == '주3'.toString()">AND REGEXP_COUNT(J_DAY, ',') = 2</if>
		<if test="j_day == '주4'.toString()">AND REGEXP_COUNT(J_DAY, ',') = 3</if>
		<if test="j_day == '주5'.toString()">AND REGEXP_COUNT(J_DAY, ',') = 4</if>
		<if test="j_day == '주말'.toString()">AND J_DAY = '토,일'</if>
	</if>
</sql>

<select id="read" parameterType="int" resultType="JobVO">
SELECT ID, J_BNO, J_TITLE, J_COMPANY, J_ADDR1, J_ADDR2, J_CATE, J_METHOD, J_PAY,
J_TERM, J_DAY, J_START, J_END, J_CONTENT, J_IMG, J_DATE, J_HEART
FROM JOB_BOARD WHERE J_BNO = #{j_bno}
</select>

<update id="update" parameterType="JobVO">
UPDATE JOB_BOARD
SET J_TITLE = #{j_title}, J_COMPANY = #{j_company}, J_ADDR1 = #{j_addr1}, J_ADDR2 = #{j_addr2}, 
	J_CATE = #{j_cate}, J_METHOD = #{j_method}, J_PAY = #{j_pay}, J_TERM = #{j_term}, J_DAY = #{j_day},
	J_START = #{j_start}, J_END = #{j_end}, J_CONTENT = #{j_content}, J_IMG = #{j_img}
WHERE J_BNO = #{j_bno}
</update>

<delete id="delete" parameterType="int">
DELETE FROM JOB_BOARD WHERE J_BNO = #{j_bno}
</delete>

<!-- 마이페이지 -->
<select id="m_listPage" resultType="JobVO" parameterType="com.anabada.web.vo.JobCriteria">
SELECT ID, J_BNO, J_TITLE, J_COMPANY, J_ADDR1, J_CATE, J_METHOD, J_PAY, J_TERM, J_DAY, J_START, J_END, J_HEART, J_IMG, J_DATE
FROM(SELECT ID, J_BNO, J_TITLE, J_COMPANY, J_ADDR1, J_CATE, J_METHOD, J_PAY, J_TERM, J_DAY, J_START, J_END, J_HEART, J_IMG, J_DATE, 
	ROW_NUMBER() OVER(ORDER BY J_BNO DESC) AS RNUM
	FROM JOB_BOARD) JOB
WHERE (RNUM BETWEEN #{rowStart} AND #{rowEnd}) AND ID = #{id}
ORDER BY J_BNO DESC
</select>

<!-- 마이페이지 -->
<select id="m_listCount" parameterType="com.anabada.web.vo.JobCriteria" resultType="int">
SELECT COUNT(ID) FROM JOB_BOARD
</select>


<!-- 하트 +1 -->
<update id="upHeart" parameterType="int" >
UPDATE JOB_BOARD SET J_HEART = J_HEART+1 WHERE J_BNO = #{j_bno}
</update>
<!-- 하트 -1 -->
<update id="downHeart" parameterType="int" >
UPDATE JOB_BOARD SET J_HEART = J_HEART-1 WHERE J_BNO = #{j_bno}
</update>


</mapper>