<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reviewMapper">
<insert id="register" parameterType="NoteVO">
INSERT INTO REVIEW (PNO, R_SELLER, R_CONSUMER, R_SCORE, R_CONTENT)
VALUES (#{pno}, #{r_seller}, #{r_consumer}, #{r_score}, #{r_content})
</insert>

<select id="count" parameterType="int" resultType="int">
SELECT COUNT(PNO) FROM REVIEW WHERE PNO = #{pno}
</select>
</mapper>